// SASS HERE !!!

body
  a
    text-decoration: none
  #header-container
    padding: 10px
    .customers_actions
      float: right
  .container
    #product
      div
        display: inline-block
      .img-min
        img
          width: 300px
          height: 300px
